
<%- model_class = Snippet -%>
<div class="page-header">
  <h1><%=t '.title', :default => "Resources" %>
  <%if params[:security]%>
  	<%icon_type = (params[:security] == "public") ? "success" : "important"%>
  	<span class="label label-<%= icon_type%>"><%= params[:security]%></span>
  <%else%>
  	<span class="label label-warning">global</span>
  <%end%>

  </h1>
<%unless params[:action] == "edit"%>
	<div class="alert alert-info">
	  <button type="button" class="close" data-dismiss="alert">×</button>
	  <strong>Have you ever thought? oh! I had solved this issue before using a blog but can't find it again :(</strong><br /> 
	  Don't worry, start using Snippet Monkey to back up your resource URLs here for future development.<br />
	  You can search and find or share it with your friends when you come across the same issue again.
	</div>
<%end%>
</div>
<!-- <%= link_to t('.new', :default => t("helpers.links.new")),
            new_snippet_path,
            :class => 'btn btn-primary' %> -->
<%if @snippets.blank?%>
    <div class="alert alert-error">
        <button data-dismiss="alert" class="close">&times;</button>
        <strong>Hey Buddy! You resource list is empty.</strong> You could add resources by using the New tab.
    </div>
    <%= image_tag "empty_monkey.jpg"%>
<%else%>
	<%= render "layouts/pagination"%>
	<table class="table table-striped">
	  <thead>
	    <tr>
	      <th></th>
	      <th></th>
	      <th></th>
	      <th></th>
	      <th></th>
	      <th></th>
	      <!-- <th><%=t '.actions', :default => t("helpers.actions") %></th> -->
	    </tr>
	  </thead>
	  <tbody>
	    <% @snippets.each do |snippet| %>
			      <tr onclick="location.href='<%= snippet_path(snippet)%>'">
				 		<div class="row">
				 			<p class="text-info">
								<h2><%= image_tag "face-monkey.png"%>
									<%= link_to truncate(snippet.heading.capitalize, :length => 15, :omission => '...(continued)'), snippet_path(snippet), :class => "text-info"%>
							        <%if snippet.security == "public"%>
							        	<span class="label label-success"><%= snippet.security%></span>
							       	<%else%>
							       		<span class="label label-important"><%= snippet.security%></span>
							       	<%end%>
								</h2>
							</p>
							<div class="span3">
								<p class="lead"> <h4>Resource :	</h4></p>
								<p>
								<a href=<%= snippet.absolute_url%>><span class="label label-info">GoTo Resource URL</span></a>
								</p>
								<p class="muted">
									Resource created on:
								</p>
								<p><i class="icon-calendar"></i> <%= snippet.created_at.strftime("%B %d, %Y %T")%></p>
								<p class="muted">
									Authored By:
								</p>
								<p><i class="icon-envelope"></i> <%= snippet.user.email%></p>

							</div>
							<div class="span3">
								<p class="lead"> <h4>Description :	</h4></p>
								<p><%= truncate(snippet.description, :length => 50, :omission => '...(more)')%></p>
								<p><a href=<%= snippet_path(snippet)%>><span class="label label-error">Read Description</span></a>
								<%if snippet.code%>	
									<p>&nbsp;&nbsp;&nbsp;<a data-toggle="modal" href="#snippet_view" ><span class="label label-sucess"> View  Snippet </span></a></p>
								<%end%>
							</div>
							<div class="span3">
								<p class="lead"> <h4>Technology :	</h4></p>
								<%if snippet.technology.icon_path%>
									<p><%= image_tag snippet.technology.icon_path, :width => "80", :height => "80"%></p>
								<%else%>
									<p><%= image_tag "404.jpg", :width => "80", :height => "80"%></p>		
								<%end%>				
							</div><br /><br />
							<div class="span9">
								<p><strong>Actions : </strong>
										<%if snippet.user_id == current_user.id%>
								    		<a href=<%= edit_snippet_path(snippet)%>><i class="icon-edit"></i><span class="label label-info"></span> </a> 
								    		<a href=<%= delete_resource_snippet_path(snippet)%>><i class="icon-trash"></i><span class="label label-info"></span> </a> 
								    	<%end%>
								    	<a id="comment_icon" data-toggle="modal" href="#comment_modal_<%= snippet.id%>"><i class="icon-comment"></i><span class="label label-info"></span> </a>
								    	| <i class="icon-user"></i> <a href="#"><%= snippet.user.first_name%></a> 
								    	| <i class="icon-calendar"></i> <%= snippet.created_at.strftime("%B %d, %Y %T")%>
								     	| <i class="icon-comment"></i> <a href="<%= show_comments_snippet_path(snippet)%>"><%= snippet.comments.size%> Comments</a>
								       	| <i class="icon-share"></i> <a href="#">39 Shares</a>
								</p>
								
								<div id="comment_modal_<%= snippet.id%>" class="modal hide fade">
									<div class="modal-header">
									<button class="close" data-dismiss="modal">×</button>
									<h3>Type a Comment</h3>
									</div>
									<div class="modal-body">
									    <div class="span4 well">
									    <form accept-charset="UTF-8" action="<%= add_snippet_comment_snippet_path(snippet.id)%>" method="POST">
									    <textarea class="span4" id="new_message" name="message"
									    placeholder="Type in your comment" rows="5"></textarea>
									    <h6 class="pull-right">Remaining<div id="chars">320</div></h6>
									    <button class="btn btn-info" type="submit">Post Comment</button>
									    </form>
									    </div>
									</div>
								</div>



							</div>
						</div>
			      </tr>
				<!-- AddThis Button BEGIN -->
				<div class="addthis_toolbox addthis_default_style addthis_32x32_style">
					<a  addthis:title="<%= snippet.heading%>"
						addthis:url="<%= snippet.absolute_url || snippet_url(snippet)%>"
						addthis:description="<%= snippet.description%>"
						class="addthis_button_preferred_1">
					</a>
					<a addthis:title="<%= snippet.heading%>" 
					   addthis:url="<%= snippet.absolute_url || snippet_url(snippet)%>"
					   addthis:description="<%= snippet.description%>"
					   class="addthis_button_preferred_2">
					</a>
					<a addthis:title="<%= snippet.heading%>" 
					   addthis:url="<%= snippet.absolute_url || snippet_url(snippet)%>"
					   addthis:description="<%= snippet.description%>"
					   class="addthis_button_preferred_3">
					</a>
					<a  addthis:title="<%= snippet.heading%>" 
						addthis:url="<%= snippet.absolute_url || snippet_url(snippet)%>"
						addthis:description="<%= snippet.description%>"
						class="addthis_button_preferred_4">
					</a>
					<a addthis:title="<%= snippet.heading%>"
					   addthis:url="<%= snippet.absolute_url || snippet_url(snippet)%>"
					   addthis:description="<%= snippet.description%>"
					   class="addthis_button_compact">
					</a>
					<a addthis:title="<%= snippet.heading%>"
					   addthis:url="<%= snippet.absolute_url || snippet_url(snippet)%>"
					   addthis:description="<%= snippet.description%>"
					   class="addthis_counter addthis_bubble_style">
					</a>
				</div>
				<!-- AddThis Button END -->
	<%if snippet.code%>		
		<div id="snippet_view" class="modal hide fade">
			<div class="modal-header">
				<button class="close" data-dismiss="modal">×</button>
				<h3>Snippet Code</h3>
			</div>
			<div class="modal-body">
				<pre class="prettyprint linenums:1">
					<ol class="linenums">
						<%snippet.code.split("\n").each_with_index do |line, index| %>
							<li class=<%= "L#{index}"%>><p><%= line%></p></li>
						<%end%>
					</ol>
					<%= snippet.code%>
				</pre>
			</div>
		</div>
	<%end%>
					<!-- <%= social_share_button_tag(snippet.heading, :rel => "twipsy", :url => snippet_url(snippet)) %></p> -->
			      <div class="span9"> <hr/></div>
	    <% end %>
	  </tbody>
	</table>
	<%= render "layouts/pagination"%>
<%end%>
<!-- <script>
$(document).ready(function(){
	var elem = $("#chars");
	$("#new_message").limiter(320, elem);
});
		(function($) {
	    $.fn.extend( {
	        limiter: function(limit, elem) {
	            $(this).on("keyup focus", function() {
	                setCount(this, elem);
	            });
	            function setCount(src, elem) {
	                var chars = src.value.length;
	                if (chars > limit) {
	                    src.value = src.value.substr(0, limit);
	                    chars = limit;
	                }
	                elem.html( limit - chars );
	            }
	            setCount($(this)[0], elem);
	        }
	    });
	})(jQuery);

</script> -->
<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-51078afc42a872c8"></script>


