<%= render "layouts/pagination"%>
<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <!-- <th><%=t '.actions', :default => t("helpers.actions") %></th> -->
    </tr>
  </thead>
  <tbody>
  	<tr onclick="location.href='<%= snippet_path(@snippet)%>'"><tr>
		<div class="row" style="padding-left: 200px;">
			<p class="text-info">
				<h2><%= image_tag "face-monkey.png"%>
					<%= link_to truncate(@snippet.heading.capitalize, :length => 12, :omission => '...(continued)'), snippet_path(@snippet), :class => "text-info"%>
			        <%if @snippet.security == "public"%>
			        	<span class="label label-success"><%= @snippet.security%></span>
			       	<%else%>
			       		<span class="label label-important"><%= @snippet.security%></span>
			       	<%end%>
				</h2>
			</p>
		</div>
  	</tr>
    <% @comments.each do |comment| %>
		      <tr>
		      		<div class="row" style="padding-left: 100px;">
		      			<td>
							<div class="span3">
								<p class="lead"> <%= image_tag current_user.avatar_url, :width => "64", :height => "64"%>	</p>
								<p class="text-info">
									<%= comment.user.full_name%>
								</p>
							</div>
						</td>
		      			<td>
							<div class="span4">
								<p class="lead"> <h5>Comment:	</h5></p>
								<p class="text-info">
									<%= comment.message%>
								</p>
							</div>
						</td>
					</div>
			  </tr>
	<%end%>
	</tbody>
</table>
