<%= form_for(@todays_special) do |f| %>
  <% if @todays_special.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@todays_special.errors.count, "error") %> prohibited this todays_special from being saved:</h2>

      <ul>
      <% @todays_special.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :special_type %><br />
    <%= f.text_field :special_type %>
  </div>
  <div class="field">
    <%= f.label :image %><br />
    <%= f.text_field :image %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
