<p><h3><%= @user.full_name%></h3></p>

<div class="well">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#full_profile" data-toggle="tab">Full Profile</a></li>
      <li><a href="#home" data-toggle="tab">User Snippets</a></li>
    </ul>
    <div id="myTabContent" class="tab-content">
            <div class="tab-pane active in" id="full_profile">
				<table class="table table-striped">
				  <thead>
				    <tr>
				      <th></th>
				      <th></th>
				      <th></th>
				      <th></th>
				      <th></th>
				      <th></th>
				      <!-- <th><%=t '.actions', :default => t("helpers.actions") %></th> -->
				    </tr>
				  </thead>
				  <tbody>
				  	<tr>
				  		<td>
			    		  	<%if @user.avatar_url%>
			    		  		<%= image_tag @user.avatar_url, :width => "120", :height => "120", :alt => "Upload Image", :style => "margin-left: 10px; padding:4px; border:1px #999999 solid; box-shadow: 0 4px 9px -3px grey;"%>
							<%else%>
								<%= image_tag "user_up.png", :width => "120", :height => "120", :alt => "Upload Image", :style => "margin-left: 10px; padding:4px; border:1px #999999 solid; box-shadow: 0 4px 9px -3px grey;"%>
							<%end%>
				  		</td>
				  		<td>
				  			<div class="span3">
				  				<div class="input-prepend">
				  				<p><i class="icon-user"></i> <h2><%= @user.full_name%></h2></p>
				  				</div>
				  				<p><h5><%= @user.email%></h5></p>
				  				<p><%= @user.address%></p>
				  			</div>
				  		</td>
				  	</tr>
					</tbody>
				</table>
      		</div>
      <div class="tab-pane fade" id="home" style="padding-left: 20px;">
	<table class="table table-striped">
	  <thead>
	    <tr>
	      <th></th>
	      <th></th>
	      <th></th>
	      <th></th>
	      <th></th>
	      <th></th>
	      <!-- <th><%=t '.actions', :default => t("helpers.actions") %></th> -->
	    </tr>
	  </thead>
	  <tbody>
	    <% @user.snippets.each do |snippet| %>
			      <tr onclick="location.href='<%= snippet_path(snippet)%>'">
				 		<div class="row">
				 			<p class="text-info">
								<h2><%= image_tag "face-monkey.png"%>
									<%= link_to truncate(snippet.heading.camelize, :length => 12, :omission => '...(continued)'), snippet_path(snippet), :class => "text-info"%>
							        <%if snippet.security == "public"%>
							        	<span class="label label-success"><%= snippet.security%></span>
							       	<%else%>
							       		<span class="label label-important"><%= snippet.security%></span>
							       	<%end%>
								</h2>
							</p>
							<div class="span3">
								<p class="lead"> <h4>Resource :	</h4></p>
								<p>
								<a href=<%= snippet.absolute_url%> target="_blank"><span class="label label-info">GoTo Resource URL</span></a>
								</p>
								<p class="muted">
									Resource created on:
								</p>
								<p><i class="icon-calendar"></i> <%= snippet.created_at.strftime("%B %d, %Y %T")%></p>
								<p class="muted">
									Authored By:
								</p>
								<p><i class="icon-envelope"></i> <%= snippet.user.email%></p>

							</div>
							<div class="span3">
								<p class="lead"> <h4>Description :	</h4></p>
								<p><%= truncate(snippet.description, :length => 50, :omission => '...(more)')%></p>
								<p><a href=<%= snippet_path(snippet)%>><span class="label label-error">Read Description</span></a>
								<%if snippet.code%>	
									<p>&nbsp;&nbsp;&nbsp;<a data-toggle="modal" href="#snippet_view" ><span class="label label-sucess"> View  Snippet </span></a></p>
								<%end%>
							</div>
							<div class="span3">
								<p class="lead"> <h4>Technology :	</h4></p>
								<p><span class="label label-warning"><%= snippet.technology.name%></span></p>
								<%if snippet.technology.icon_path%>
									<p><%= image_tag snippet.technology.icon_path, :width => "80", :height => "80"%></p>
								<%else%>
									<p><%= image_tag "404.jpg"%></p>		
								<%end%>	
							</div><br /><br />
							<div class="span9">
								<p><strong>Actions : </strong>
										<%if current_user && snippet.user_id == current_user.id%>
								    		<a href=<%= edit_snippet_path(snippet)%>><i class="icon-edit"></i><span class="label label-info"></span> </a> 
								    		<a href=<%= delete_resource_snippet_path(snippet)%>><i class="icon-trash"></i><span class="label label-info"></span> </a> 
								    	<%end%>
								    	<a id="comment_icon" data-toggle="modal" href="#comment_modal_<%= snippet.id%>"><i class="icon-comment"></i><span class="label label-info"></span> </a>
								    	| <i class="icon-user"></i> <a href="#"><%= snippet.user.first_name%></a> 
								    	| <i class="icon-calendar"></i> <%= snippet.created_at.strftime("%B %d, %Y %T")%>
								     	| <i class="icon-comment"></i> <a href="<%= show_comments_snippet_path(snippet)%>"><%= snippet.comments.size%> Comments</a>
								       	| <i class="icon-share"></i> <a href="#" id="share"><%= snippet.share_count%> Shares</a>
								</p>
								
								<div id="comment_modal_<%= snippet.id%>" class="modal hide fade">
									<div class="modal-header">
									<button class="close" data-dismiss="modal">×</button>
									<h3>Type a Comment</h3>
									</div>
									<div class="modal-body">
									    <div class="well">
									    <form accept-charset="UTF-8" action="<%= add_snippet_comment_snippet_path(snippet.id)%>" method="POST">
									    <textarea id="new_message" name="message"
									    placeholder="Type in your comment" rows="10"></textarea>
									    <h6 class="pull-right">Remaining<div id="chars">320</div></h6><br />
									    <button class="btn btn-info" type="submit">Post Comment</button>
									    </form>
									    </div>
									</div>
								</div>



							</div>
						</div>
			      </tr>
				<!-- AddThis Button BEGIN -->
				<div class="addthis_toolbox addthis_default_style addthis_32x32_style">
					<a  addthis:title="<%= snippet.heading%>  via  http://www.snippet-monkey.com/"
						addthis:url="<%= snippet.absolute_url || snippet_url(snippet)%>"
						addthis:description="<%= snippet.description%>"
						class="addthis_button_preferred_1">
					</a>
					<a addthis:title="<%= snippet.heading%> via  http://www.snippet-monkey.com/" 
					   addthis:url="<%= snippet.absolute_url || snippet_url(snippet)%>"
					   addthis:description="<%= snippet.description%>"
					   class="addthis_button_preferred_2">
					</a>
					<a addthis:title="<%= snippet.heading%> via  http://www.snippet-monkey.com/" 
					   addthis:url="<%= snippet.absolute_url || snippet_url(snippet)%>"
					   addthis:description="<%= snippet.description%>"
					   class="addthis_button_preferred_3">
					</a>
					<a  addthis:title="<%= snippet.heading%> via  http://www.snippet-monkey.com/" 
						addthis:url="<%= snippet.absolute_url || snippet_url(snippet)%>"
						addthis:description="<%= snippet.description%>"
						class="addthis_button_preferred_4">
					</a>
					<a addthis:title="<%= snippet.heading%> via  http://www.snippet-monkey.com/"
					   addthis:url="<%= snippet.absolute_url || snippet_url(snippet)%>"
					   addthis:description="<%= snippet.description%>"
					   class="addthis_button_compact">
					</a>
					<a addthis:title="<%= snippet.heading%> via  http://www.snippet-monkey.com/"
					   addthis:url="<%= snippet.absolute_url || snippet_url(snippet)%>"
					   addthis:description="<%= snippet.description%>"
					   class="addthis_counter addthis_bubble_style">
					</a>
				</div>
				<!-- AddThis Button END -->
	<%if snippet.code%>		
		<div id="snippet_view" class="modal hide fade">
			<div class="modal-header">
				<button class="close" data-dismiss="modal">×</button>
				<h3>Snippet Code</h3>
			</div>
			<div class="modal-body">
				<div class="well">

				<pre class="prettyprint linenums:1">
					<%= snippet.code%>
				</pre>
				<!-- <pre class="prettyprint linenums:1">
					<ol class="linenums">
						<%snippet.code.split("\n").each_with_index do |line, index| %>
							<li class=<%= "L#{index}"%>><p><%= line%></p></li>
						<%end%>
					</ol>
				</pre> -->
			</div>
			</div>
		</div>
	<%end%>
					<!-- <%= social_share_button_tag(snippet.heading, :rel => "twipsy", :url => snippet_url(snippet)) %></p> -->
			       <hr/>
	    <% end %>
	  </tbody>
	</table>
	
      </div>
      
  </div>
</div>
<script>
	$(document).ready(function(){
		console.log($("#coder_monkey"));
		$("#coder_monkey").css("padding-left", "690px");
		$("#coder_monkey").css("margin-top", "-380px");
	})
</script>
